*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.wrapper{
    height: 100px;
    width: 360px;
    /* background-color:yellow ; */
    cursor: default;
    background: linear-gradient(135deg,rgb(61, 171, 61),rgb(255, 136, 0),rgb(253, 253, 13),rgb(212, 98, 117));
    border-radius: 10px;
    animation: animate 1.15s linear infinite;
}
.wrapper .display,
.wrapper .span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrapper .display
{   
    background-color: black;
    height: 85px;
    width: 345px;
    text-align: center;
    z-index: 999;
}
.wrapper .display #time{
    line-height: 85px;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(135deg,rgb(61, 171, 61),rgb(255, 136, 0),rgb(253, 253, 13),rgb(212, 98, 117));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.15s linear infinite;
}
@keyframes animate{
    100%
    {
        filter: hue-rotate(360deg);
    }
}
.wrapper .span{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
}
.wrapper span:first-child{
    filter: blur(10px);
}
.wrapper span:last-child{
    filter: blur(20px);
}